OLLAMA_MODEL=qwen2.5:7b
OLLAMA_BASE_URL=http://localhost:11434
# CHECKPOINT_DB_PATH=data/checkpoints.db
FASTAPI_ENV=development
POSTGRES_CONNECTION_URI=postgresql://user:pass@localhost:5432/db
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=http://localhost:3000

# For MCP use
MYSQL_MCP_COMMAND=uvx
MYSQL_MCP_ARGS_JSON=["mdev-mysql-mcp-server"]
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

ELASTICSEARCH_MCP_COMMAND=uvx
ELASTICSEARCH_MCP_ARGS_JSON=["elasticsearch-mcp-server"]
ELASTICSEARCH_HOSTS=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_VERIFY_CERTS=

# Test
RUN_EXTERNAL_MCP_TESTS=1

TEST_MYSQL_MCP_COMMAND=uvx
TEST_MYSQL_MCP_ARGS_JSON=["mdev-mysql-mcp-server"]
TEST_MYSQL_HOST=localhost
TEST_MYSQL_PORT=3306
TEST_MYSQL_USER=
TEST_MYSQL_PASSWORD=
TEST_MYSQL_DATABASE=
TEST_MYSQL_QUERY_TOOL=mysql_execute_read_query
TEST_MYSQL_QUERY_ARGS_JSON={"query":"select 1;"}